* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body,
html {
    width: 100;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    background: #c4483c;
    display: flex;
    line-height: 100px;
    overflow: hidden;
    input {
        flex: 1;
        height: 70px;
        border-radius: 50px;
        margin-top: 15px;
    }
    i {
        display: block;
        width: 48px;
        height: 48px;
        font-size: 48px;
        margin: 0 42px;
        color: #fff;
    }
}

.main {
    overflow-y: scroll;
    flex: 1;
}

.main>div {
    width: 100%;
    height: 100%;
    display: none;
}

footer dl.bk {
    color: #fff;
}

.main div.by {
    display: block;
}

.bq {
    width: 100%;
    height: 70px;
    ul {
        display: flex;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        justify-content: space-between;
        li {
            height: 100%;
            font-size: 32px;
            line-height: 70px;
        }
        li.first {
            color: red;
            border-bottom: 1px solid red
        }
    }
}

.box {
    .lb {
        li {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.m-top {
    width: 100%;
    display: flex;
    dl {
        flex: 1;
        text-align: center;
        margin: 20px 0;
        dt {
            width: 53px;
            height: 53px;
            border-radius: 50%;
            border: 1px solid red;
            margin: 0 auto;
            img {
                width: 28px;
                height: 28px;
                text-align: center;
                margin-top: 12px;
            }
        }
        dd {
            font-size: 12px;
            text-align: center;
        }
    }
}

.s {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    div {
        flex-shrink: 0;
        img {
            width: 180px;
            height: 250px;
            flex-shrink: 0;
        }
    }
}

footer {
    width: 100%;
    height: 80px;
    background: #343333;
    display: flex;
    // line-height: 80px;
    dl {
        flex: 1;
        text-align: center;
        color: #a7a7a7;
        margin-top: 20px;
        dt,
        dd {
            font-size: 20px;
        }
    }
}